@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$navbar-sidebar-width: 160px;
$navbar-sidebar-breakpoint: 'md';

body {
  padding-top: 90px;

  @include media-breakpoint-up($navbar-sidebar-breakpoint) {
    margin-left: $navbar-sidebar-width;
    padding-top: 0;
  }
}

@mixin navbar-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;

  @include media-breakpoint-up($navbar-sidebar-breakpoint) {
    bottom: 0;
    width: $navbar-sidebar-width;
    flex-flow: column nowrap;
    align-items: flex-start;

    .navbar-collapse {
      flex-grow: 0;
      flex-direction: column;
      width: 100%;

      .navbar-nav {
        flex-direction: column;
        width: 100%;

        .nav-item {
          width: 100%;
          height: $navbar-sidebar-width;

          .dropdown-menu {
            top: 0;
          }
        }
        .nav-item.active {
          background-color: white;
          .nav-link {
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}

.navbar {
  &.fixed-left {
    @include navbar-sidebar;
    @include media-breakpoint-up($navbar-sidebar-breakpoint) {
      right: auto;
      padding: 5rem 0 0 0;

      .navbar-nav {
        .nav-item {
          .dropdown-toggle {
            &:after {
              border-top: $caret-width solid transparent;
              border-left: $caret-width solid;
              border-bottom: $caret-width solid transparent;
              border-right: none;
              vertical-align: baseline;
            }
          }

          .dropdown-menu {
            left: 100%;
          }
          .nav-link {
            text-align: center;
            font-size: 1.1rem;
            color: rgba(255, 255, 255, 1);
            padding: 25% 0 25% 0;
            cursor: pointer;
            &:hover {
              opacity: .5;
            }
          }
          .icon-wrapper {
            text-align: center;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
